certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
keyboard==0.13.5
plyer==2.1.0
pync==2.0.3
pynput==1.7.7
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
six==1.17.0
urllib3==2.3.0
